[Desktop Entry]
Name=SAKURA REACTION
Comment=These suck btw why is a file called the folder with rc required for the theme to work with no error or notification when it fails.
X-KDE-PluginInfo-Author=WHY THE FUCK IS THERE NO DOCUMENTATION FOR THIS STUPID SHIT.
X-KDE-PluginInfo-Email=DONGLEDORG@PROTONMAIL.COM
X-KDE-PluginInfo-Name=SAKURA REACTION
X-KDE-PluginInfo-Version=4.0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=KILL
X-KDE-PluginInfo-EnabledByDefault=true
